<body class="bg-default" onload="testfunc()">
  <div class="main-content">
    <!-- Navbar -->
    <%- include ('../partial/auth/navbar') %>
    <!-- Header -->
    <%- include ('../partial/auth/header') %>
    <!-- Page content -->
    <div class="container mt--8 pb-5" style="width: 100%;max-width: 1250px;">
      <div class="row justify-content-center">
        <div class="col-lg-12 ">
          <div class="card bg-secondary shadow border-0">
            <div class="card-header bg-transparent pb-5" style="text-align:left;">
              <button class="btn btn-primary my-4" onclick = "updatefunc();">Get Realtime Data</button>
              
            </div>
            <div class="card-body px-lg-12 py-lg-12">
            <!--  <div class="text-center text-muted mb-4">
                <small>Or sign in with credentials</small>
                <br />
                <small>
                  You can use <strong>admin@argon.com</strong> and <strong>secret</strong> to login
                </small>
              </div> -->
              <div id="chart" style="overflow: scroll;"></div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Footer -->
  <%- include ('../partial/auth/footer') %>
  <%- include ('../partial/scripts')%>
  <script>
      
    
    var chart = null;

    function updatefunc(){
      $.ajax({
        type:"POST",
        url:"getlivedata",//replace with getlivedata 
        data: {},
        success: function(data,status){

          chart.updateOptions({
            xaxis: {
              categories: data['x-axis'],
              labels:{
                style: {
                    colors: [],
                    fontSize: '8px',
                    fontFamily: 'Helvetica, Arial, sans-serif',
                    cssClass: 'apexcharts-xaxis-label',
                }
              }
            }
          })

          chart.updateSeries([{
              data: data['y-axis']
            }])
          }
      });
    
    
    
//       chart.updateOptions({
//         xaxis: {
//       categories: ["A", "B", "C"],
//       labels:{
//         style: {
//             colors: [],
//             fontSize: '8px',
//             fontFamily: 'Helvetica, Arial, sans-serif',
//             cssClass: 'apexcharts-xaxis-label',
//         }
//       }
//     }
//       })

//       chart.updateSeries([{
//   data: [32, 44, 31]
// }])
      //$('#chart').empty();
      /*
      async changeData() {
      ApexCharts.exec("chart1", "updateOptions", {
        xaxis: {
          categories: ["A", "B", "C"]
        }
      });

      ApexCharts.exec("chart1", "updateSeries", [
        {
          data: [32, 44, 31]
        }
      ]);
    }


    chart.updateOptions({
  xaxis: {
    labels: {
      show: false
    }
  },
  yaxis: {
    min: 20,
    max: 100
  }
})


chart.updateSeries([{
  data: [32, 44, 31, 41, 22]
}])
// example of series in another format
chart.updateSeries([{
  data: [{
    x: "02-02-2002",
    y: 44
  }, {
    x: "12-02-2002",
    y: 51
  }]
}])
      */


    }
    function testfunc(){
      $.ajax({
        type:"POST",
        url:"getchartdata",//replace with getlivedata 
        data: {},
        success: function(data,status){
           // Utils.hideLoading();
            console.log(data);
            var options = {
      series: [{
        name: "STOCK SP500",
        data: data['y-axis']
    }],
      chart: {
      height: 350,
      type: 'area',
      zoom: {
        enabled: false
      }
    },
    dataLabels: {
      enabled: false
    },
    stroke: {
      curve: 'straight'
    },
    title: {
      text: 'SP500',
      align: 'left'
    },
    grid: {
      row: {
        colors: ['#f3f3f3', 'transparent'], // takes an array which will be repeated on columns
        opacity: 0.5
      },
    },
    xaxis: {
      categories: data['x-axis'],
      labels:{
        style: {
            colors: [],
            fontSize: '8px',
            fontFamily: 'Helvetica, Arial, sans-serif',
            cssClass: 'apexcharts-xaxis-label',
        }
      }
    },
    yaxis:{
      show:false
    }
    };

    chart = new ApexCharts(document.querySelector("#chart"), options);
    chart.render();


        }
      });
    }
  
</script>
</body>
