<body class="bg-default" onload="testfunc()">
  <div class="main-content">
    <!-- Navbar -->
   
    <!-- Header -->
    <%- include ('../partial/auth/header') %>
    <!-- Page content -->
    <div class="container mt--8 pb-5" style="width: 100%;max-width: 1250px;">
      <div class="row justify-content-center">
        <div class="col-lg-2">
          <div style="overflow: scroll;height: 500px;" class="card bg-secondary shadow border-0">
            <div class="card-body">
              <button style="margin-bottom: 1rem;" class="btn" onclick = "getSymData('^XSP')">(XSP) XSP</button>
              <button style="margin-bottom: 1rem;" class="btn" onclick = "getSymData('AAPL')">(APPLE) AAPL</button>
              <button style="margin-bottom: 1rem;" class="btn" onclick = "getSymData('AAL')">(American Airlines) AAL</button>
              <button style="margin-bottom: 1rem;" class="btn" onclick = "getSymData('MMM')">(3M) MMM</button>

            </div>

          </div>
        </div>
        <div class="col-lg-10">
          <div class="card bg-secondary shadow border-0">
            <div class="card-header bg-transparent" style="text-align:left;">
              <button class="btn btn-primary" onclick = "updatefunc();">Get Realtime Data</button>
            </div>
            <div class="card-body px-lg-12 py-lg-12">
              <div id="chart" style=""></div>  
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Footer -->
  
  <%- include ('../partial/scripts')%>
  <script>
      
    
    var chart = null;

    function getSymData(sym){
      
      $.ajax({
        type:"POST",
        url:"getliveSymdata",//replace with getlivedata 
        data: {sym:encodeURI(sym)},
        success: function(data,status){
          var lbl = sym;
          if(sym === '^XSP'){
            lbl = "SP 500 MINI SPX";
          }
          chart.updateOptions({
            title: {
              text: lbl,
              align: 'left'
            },
            xaxis: {
              categories: data['x-axis'],
              labels:{
                style: {
                    colors: [],
                    fontSize: '8px',
                    fontFamily: 'Helvetica, Arial, sans-serif',
                    cssClass: 'apexcharts-xaxis-label',
                }
              }
            }
          })
         
          chart.updateSeries([{
              name: "STOCK " + lbl,
              data: data['y-axis']
            }])
          }
      });
    }

    function updatefunc(){
      $.ajax({
        type:"POST",
        url:"getlivedata",//replace with getlivedata 
        data: {},
        success: function(data,status){

          chart.updateOptions({
            title: {
              text: 'SP 500 Mini SPX',
              align: 'left'
            },
            xaxis: {
              categories: data['x-axis'],
              labels:{
                style: {
                    colors: [],
                    fontSize: '8px',
                    fontFamily: 'Helvetica, Arial, sans-serif',
                    cssClass: 'apexcharts-xaxis-label',
                }
              }
            }
          })

          chart.updateSeries([{
              name: "STOCK SP 500 Mini SPX",
              data: data['y-axis']
            }])
          }
      });
    
    
    
//       chart.updateOptions({
//         xaxis: {
//       categories: ["A", "B", "C"],
//       labels:{
//         style: {
//             colors: [],
//             fontSize: '8px',
//             fontFamily: 'Helvetica, Arial, sans-serif',
//             cssClass: 'apexcharts-xaxis-label',
//         }
//       }
//     }
//       })

//       chart.updateSeries([{
//   data: [32, 44, 31]
// }])
      //$('#chart').empty();
      /*
      async changeData() {
      ApexCharts.exec("chart1", "updateOptions", {
        xaxis: {
          categories: ["A", "B", "C"]
        }
      });

      ApexCharts.exec("chart1", "updateSeries", [
        {
          data: [32, 44, 31]
        }
      ]);
    }


    chart.updateOptions({
  xaxis: {
    labels: {
      show: false
    }
  },
  yaxis: {
    min: 20,
    max: 100
  }
})


chart.updateSeries([{
  data: [32, 44, 31, 41, 22]
}])
// example of series in another format
chart.updateSeries([{
  data: [{
    x: "02-02-2002",
    y: 44
  }, {
    x: "12-02-2002",
    y: 51
  }]
}])
      */


    }
    function testfunc(){
      $.ajax({
        type:"POST",
        url:"getchartdata",//replace with getlivedata 
        data: {},
        success: function(data,status){
           // Utils.hideLoading();
            console.log(data);
            var options = {
      series: [{
        name: "STOCK SP500",
        data: data['y-axis']
    }],
      chart: {
      height: 350,
      type: 'area',
      zoom: {
        enabled: false
      }
    },
    dataLabels: {
      enabled: false
    },
    stroke: {
      curve: 'straight'
    },
    title: {
      text: 'SP500',
      align: 'left'
    },
    grid: {
      row: {
        colors: ['#f3f3f3', 'transparent'], // takes an array which will be repeated on columns
        opacity: 0.5
      },
    },
    xaxis: {
      categories: data['x-axis'],
      labels:{
        style: {
            colors: [],
            fontSize: '8px',
            fontFamily: 'Helvetica, Arial, sans-serif',
            cssClass: 'apexcharts-xaxis-label',
        }
      }
    },
    yaxis:{
      show:true
    }
    };

    chart = new ApexCharts(document.querySelector("#chart"), options);
    chart.render();


        }
      });
    }
  
</script>
</body>
